p {
    font-size: 18px;
    margin-bottom: 0rem;
}

.btn-style {
    font-size: 20px;
    font-weight: 500;
    padding: 5px 30px;
    color: #1C1C1C;
    border: 3px solid #C19B77;
    border-radius: 5px;
}

.btn-style:hover {
    background-color: #C19B77;
    color: #1C1C1C;
}

.signup-btn {
    font-size: 20px;
    font-weight: 500;
    padding: 5px 30px;
    background-color: #0f2738;
    color: black;
    border: 3px solid #C19B77;
    border-radius: 5px;
}

a {
    color: #1C1C1C;
}


a:hover {
    color: #1C1C1C;
}